.footer {
  background: #141414;
  .container {
    font-family: "Roboto";
    font-size: 14px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    color: #ffffff;
    height: 200px;
    padding-bottom: 18px;
  }
}
