@media (max-width: 375px) {
  .about {
    &__title {
      display: block;
      font-size: 36px;
      margin-bottom: 30px;
    }
    &__wrapper {
      display: flex;
      flex-direction: column;
    }
    &__card {
      flex-direction: column;
      width: 100vw;
      height: auto;
      &__card-top {
        margin-bottom: 60px;
      }
      &__wrapper-text {
        margin: 0 auto;
        width: 335px;
        height: 365px;
      }
      &-title {
        font-size: 24px;
        margin-bottom: 20px;
      }
      &-descr {
        font-size: 14px;
      }
      &-sub {
        margin: 0 auto;
        width: 335px;
        height: 259px;
        margin-bottom: 60px;
      }
    }
    &__image-Julia {
      img {
        width: 100vw;
        height: 370px;
      }
    }
    &__image-Tanya {
      margin: 0;
      img {
        width: 100vw;
        height: 360px;
      }
    }
    .p {
      width: 100vw;
      flex-direction: column-reverse;
      margin-bottom: 80px;
    }
  }
}
